
.work-sans-normal{
 font-family: "Work Sans", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}
/* ------------------------shared style------------------------------ */
.display-flex{
 display: flex;
}

.bg-light{
 background-color: rgba(255, 144, 14, 0.1);
}
/*------------------------------------- dark 3---------------------------------- */
.text-gray{
 color: #424242;
}
/*-------------------------------------- dark 3------------------------------------ */
.text-light-gray{
 color: #727272;
}

.section-title{
 font-size: 2.2rem;
 font-weight: 700;
}
.btn-primary{
 background-color:rgba(255, 144, 14, 1);
 color: rgba(255, 255, 255, 1);
 padding: .96rem 1.1rem;
 border-radius: 5px;
 border: none;
 font-size: 1.25rem;
 font-weight: 600;
 margin-bottom: 32px;
}
main >section{
 margin-top: 130px;
}
main{
 max-width: 1476px;
 margin: 0 auto;
}
span{
 color: rgba(255, 144, 14, 1);
}

/* ---------------------------text-light-gray dark2 3------------------------- */



/* -------------------------header style------------------------------- */

/* -------------------------navbar related style------------------------ */
.navbar{
 justify-content: space-between;
 align-items: center;
 
}
.brand{
 font-weight: 700;
 font-size: 3rem;
}

.nav-item{
 list-style: none;
 margin-right: 30px;
}
.nav-link{
 text-decoration: none;
 font-weight: 500;

}
.navbar, .banner{
 max-width: 1476px;
 margin: 0 auto;
 text-align: center;
}
/* banner reletated style */
.banner-content{
 max-width: 861px;
 align-items: center;
 margin: 0 auto;
}
.banner-tile{
 font-weight: 700;
 font-size: 3.5rem;
 text-align: center;
}
.banner-description{
 font-weight: 1rem;
 color: rgba(114, 114, 114, 1);
 text-align: center;
}
.banner-image{
 width: 100%;
}

/* team features relataed styles */
.teams{
 align-items: center;
 padding: 6rem;
}

#Quick-list{
 font-weight: 500;
}
.our-features{
padding: 70px;
max-width: 500px;
 
}
.team-img-container{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 24px;
 border-redius: 4px;
}
/* facts-container style */
.facts-container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 align-items: center
}


/* -----------------------------------------fact icon styel-------------------------------------- */
.fact-card{
 border: 1px solid rgba(255, 144, 14, 1);
 border-radius: 8px;
 width: 200px;
 height: 200px;
 align-items: center;
 justify-content: center;
 text-align: center;
 box-shadow: 5px #FF900E;
}
.fact-number{
 font-weight: 600;
 font-size: 2.2rem;
 margin-top: 5px;
 margin-bottom: 10px;
}
.fact-name{
 color: #727272;
}

/* -------------------------------------------our-sponsors sponsor styel------------------------------ */

.sponsor-name{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
}
.sponsor-name img{
 filter: grayscale(100%);
 width: 120px;
 height: 30px;
 margin: 10px 100px;
}

.sponsor-title{
 font-weight: 700;
 font-size: 40px;
 text-align: center;
}


/* media quary banner respocive */

@media screen and (max-width: 576px){
 .navbar,
 .nav-links,
 .teams{
  flex-direction: column;
  padding: 0 auto;
 }
 .team-img-container{
  grid-template-columns: repeat(1, 1fr);
 }

 .our-features{
  padding: 0 auto;
  width: 100%;
 }
}

/* medium size devesice */
@media screen and (min-width: 576) and (max-width: 992px){
.teams{
 flex-decoration: column;
}
.team-img-container{
 grid-template-columns: repeat(1, 1fr);
}
.our-features{
grid-template-columns: repeat(1, 1fr);
 margin: 50px auto;
}
}